<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>RaboBank</title>

<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel='stylesheet'
	href='https://unpkg.com/ng-table/bundles/ng-table.min.css'>
<link rel="stylesheet" href="css/style.css">


</head>

<body>
	<div ng-app="variantApp" class="container-fluid" style="color: #fff">
		<div class="col-lg-8 col-md-8"
			ng-controller="variant_table_controller as variantCtrl">

			<h1>Rabobank Issue Tracker</h1>
			<div class="panel panel-default">
        <div class="panel-body">
			<form>
				<div class="form-group">
				<label for="myFileField">Select a file: </label>
					<input type="file" select-ng-files ng-model="fileArray" class="form-control" multiple />
					  </div>
					<button type="button" ng-click="doUploadFile()" class = "btn btn-primary">Upload</button>
				
			</form>
</div>
</div>
			<table ng-table="variantCtrl.personTable" show-filter="true"
				class="table table-bordered table-condensed">
				<tr ng-repeat="variant in variantCtrl.data">
					<td data-title="'firstName'" sortable="'firstName'">
						{{variant.firstName}}</td>
					<td data-title="'surName'" sortable="'surName'">
						{{variant.surName}}</td>
					<td data-title="'DateOfbirth'" sortable="'dateofBirth'">
						{{variant.dateofBirth}}</td>
					<td data-title="'issueCount'" sortable="'issueCount'"
						filter="variantCtrl.variantFilterDef">{{variant.issueCount}}
					</td>
				</tr>
			</table>


		</div>
	</div>
	<script
		src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js'></script>
	<script src='https://unpkg.com/ng-table/bundles/ng-table.js'></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script
		src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<script src="js/documentService.js"></script>

	<script src="js/index.js"></script>




</body>

</html>
