<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Rabobank Customer Statement Processor- Upload Status</h1>
			<div class="navbar">
  <a href="home">go back Home</a>
</div>
	<div th:if="${success}">
		<h5  style="color:#069" th:text="${success}" />
	</div>
	<div th:if="${message}">
		<h2  style="color:#ff0000" th:text="${message}" />
	</div>
	<div th:if="${duplicateRecords!=null}">
		<h3>Duplicate Records:</h3>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Reference</th>
					<th scope="col">Description</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${duplicateRecords.empty}">
					<td colspan="2">No Duplicate Records found</td>
				</tr>
				<tr th:each="record : ${duplicateRecords}">
					<td><span th:text="${record.reference}"> </span></td>
					<td><span th:text="${record.description}"> </span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:if="${endBalancerecords!=null}">

		<h3>EndBalance Error Records:</h3>
		<table  class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Reference</th>
					<th scope="col">accountNumber</th>
					<th scope="col">Description</th>
					<th scope="col">startBalance</th>
					<th scope="col">mutation</th>
					<th scope="col">endBalance</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${endBalancerecords.empty}">
					<td colspan="2">No end balance errors found</td>
				</tr>
				<tr th:each="record : ${endBalancerecords}">
					<td><span th:text="${record.reference}"> </span></td>
					<td><span th:text="${record.accountNumber}"> </span></td>
					<td><span th:text="${record.description}"> </span></td>
					<td><span th:text="${record.startBalance}"> </span></td>
					<td><span th:text="${record.mutation}"> </span></td>
					<td><span th:text="${record.endBalance}"> </span></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>